/* Work Sans Font From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Styles */

* {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    /* margin: 32px 50px; */
    cursor: pointer;
    border: none;

}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.banner-content {
    max-width: 862px;
    text-align: center;
    margin: 0 auto;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Features Section */
main {
    max-width: 1440px;
    margin: 70px auto;

}

.Features-content {
    display: flex;
    align-items: center;
}

.Features-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.Features-description {
    padding-left: 70px;
}

.Features-descrip-heading {
    font-size: 45px;
    font-weight: 700;
}

#quick {
    color: #727272;
}

#Features{
    color: #ff900e;
}

.Features-description-main{
    font-size: 16px;
    color: rgb(114, 114, 114);
}


/* responsive styles */
/* small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* Medium Devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 20px;
    }
}